In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(dict(x=np.arange(10)))

In [7]:
df.assign(y=np.arange(10, 20))

   x   y
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [9]:
df.assign(y=lambda df: df.x + 10)

   x   y
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19